<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
*

{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #965462 ;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 20%;
    height: 350px; /* only for demonstration, should be removed */
    background: #f79838;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #6292e0;
    height: 350px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
    height: 350px;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
</style>
</head>
<body>

<header>
  <h2>You Should Visit California!!!</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="#">Movies </a></li>
      <li>
   <a href="https://www.kayak.com/packages/Los-Angeles-CA-Z16078/2018-08-17/2018-08-24/-1,-1/2/0,0,0/AUS?sort=rank_a">Travel </a> </li>
      <li><a href="https://www.expedia.com/things-to-do/search?regionId=178280&semcid=US.MULTILOB.GOOGLE.DL-c-EN.TSHOP&semdtl=a1365677698.b126170569498.r1.g1aud-296665629271:kwd-298424337561.i1.d1185702161850.e1c.j19060225.k1.f11t3.n1.l1g.h1e.m1&gclid=EAIaIQobChMIv4OTlp3R3AIVXLnACh2J7QZ8EAAYAyAAEgIP-_D_BwE&location=Los%20Angeles&paandi=true">Things to do </a></li>
     
    </ul>
  </nav>
  
  <article>
    <h1>Movies</h1>
    <ul>
        <li> Clueless  
      <li> Singing in the Rain
      <li> Cinderella story
      <li> 17 again
      <li> Crazy, Stupid, Love
      <li> San Andreas
      <li> The Kissing Booth </li> <br>
        
  <a href= "https://youtu.be/RS0KyTZ3Ie4"> <img 
          src= "https://m.media-amazon.com/images/M/MV5BMTgxODIxODE2MF5BMl5BanBnXkFtZTgwOTA4NjQxMTE@._V1_UX182_CR0,0,182,268_AL_.jpg" 
            
      width = "73px" height = "112" 
      >/ 
  
  <a href= "https://youtu.be/P7YBPMP30XA">
    <img
        src= "https://m.media-amazon.com/images/M/MV5BMWUyNjQ5MTAtNDJhYS00MWQ0LTk2ZTAtZmE4MWNlMjMwMzg3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_.jpg"
      
     width ="73px" height = "112px"
      >/
   
    <a href= "https://youtu.be/wc1FuNLsckA">
 <img 
        src= "https://images-na.ssl-images-amazon.com/images/I/81dBC+94uTL._RI_SX200_.jpg"
      width = "73px" height = 
       "112" />
                               
   <a href="https://www.youtube.com/watch?v=M1st3Me-Yv0&feature=youtu.be" >    <img
        src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e1/17again.jpg/220px-17again.jpg"
           width = "73px"
           height = "112" />
  <a href="https://youtu.be/8iCwtxJejik">    <img
           src= "https://is1-ssl.mzstatic.com/image/thumb/Video49/v4/75/72/e6/7572e6ee-43ac-5fa5-0921-960a6b4070cc/source/1200x630bb.jpg"
           width = "73px"
           height = "112"
                     />
    <a href= "https://www.youtube.com/watch?v=23VflsU3kZE&feature=youtu.be">
      <img
           src= "https://s1.thcdn.com/productimg/600/600/11127527-8084503204245250.jpg"
            width = "73px"
            height = "112"
            />
   <a href= "https://www.youtube.com/watch?v=7bfS6seiLhk&feature=youtu.be">  
      <img
           src=
 "https://upload.wikimedia.org/wikipedia/en/3/3b/The_Kissing_Booth.png" width = "73px" height = "112"/>
      

  </article>
</section>



</body>
</html>