<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
*

{
    box-sizing: border-box;
}

body {
    font-family: , Impact;
}

/* Style the header */
header {
    background-color: #3adfe8 ;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: Impact;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 20%;
    height: 350px; /* only for demonstration, should be removed */
    background: #e7ef92;
    padding: 20px;
    font-family: Impact;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #beead2;
    height: 350px; /* only for demonstration, should be removed */
    font-family: Impact;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
    height: 350px;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
</style>
</head>
<body>

<header>
  <h2>You Should Visit Greece!!!</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="#">Movies </a></li>
      <li>
   <a href="http://www.kayak.com/s/compareresults/multi?pageOrigin=P..FD..M0&searchId=DXAsAqocuF&forcehttp=true&providerCodes=EXPEDIAPRECHECKKPACK_US_PFDCMP2%2CTCITYKPACKPRECHECK_US_PFDCMP2">Travel </a></li>
      <li><a href="https://www.tripadvisor.com/Attractions-g189398-Activities-Greece.html">Things to do </a></li>
     
    </ul>
  </nav>
  
  <article>
    <h1>Movies</h1>
    <ul>
        <li> Mamma Mia!  
      <li> Mamma Mia! Here We Go Again
      <li> My Big Fat Greek Wedding
      <li> My Big Fat Greek Wedding 2 
      <li> My Life in Ruins
      <li> For Your Eyes Only
      <li> Before Midnight </li> <br>
        
  <a href= "https://youtu.be/iCVpJ8x1Tnc"> <img 
          src= "https://resizing.flixster.com/vv0eLRsfq-ff79rbygorREn007I=/206x305/v1.bTsxMTE3MTk0OTtqOzE3ODU5OzEyMDA7ODAwOzEyMDA" 
            
      width = "70px" height = "112" 
      >/ 
  
  <a href= "https://youtu.be/cH9BMK1bIwY">
    <img
        src= "https://upload.wikimedia.org/wikipedia/en/b/be/Mamma_Mia%21_Here_We_Go_Again.png"
      
     width ="70px" 
      >/
    <a href= "https://youtu.be/RfYF3TAST5E">
 <img 
        src= "https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/My_Big_Fat_Greek_Wedding_movie_poster.jpg/220px-My_Big_Fat_Greek_Wedding_movie_poster.jpg"
      width = "70px" height = 
       "110" />
                               
   <a href="https://www.youtube.com/watch?v=M1st3Me-Yv0&feature=youtu.be" >    <img
        src="https://m.media-amazon.com/images/M/MV5BNTA1MjMzNDM2M15BMl5BanBnXkFtZTgwNTg3NzQ1NzE@._V1_UX182_CR0,0,182,268_AL_.jpg"
           width = "75px"
           height = "110" />
  <a href="https://www.youtube.com/watch?v=AkRMBRxC_Gk&feature=youtu.be" >    <img
           src= "https://images-na.ssl-images-amazon.com/images/I/51sUUOpbMKL._SY445_.jpg"
           width = "70px"
           height = "110"
                     />
    <a href= "https://www.youtube.com/watch?v=e0iF8TCk4Fw&feature=youtu.be">
      <img
           src= "https://images-na.ssl-images-amazon.com/images/I/91XeDMpVzCL._SY445_.jpg"
            width = "75px"
            height = "110"
            />
   <a href= "https://www.youtube.com/watch?v=Kv6JWoVKlGY&feature=youtu.be">  
      <img
           src=
           "https://m.media-amazon.com/images/M/MV5BMjA5NzgxODE2NF5BMl5BanBnXkFtZTcwNTI1NTI0OQ@@._V1_.jpg"
           width = "75px"
           height = "110"
      
        
      
      
      
      
      
    </p>
    <p.</p>
  </article>
</section>



</body>
</html>