<DOCTYPE html>
<html lang="en">
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #fdfd96 ;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: #aec6cf ;
    font-family: Impact;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 20%;
    height: 350px; /* only for demonstration, should be removed */
    background: #ebefc4;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
    font-family: Impact;
}

article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f0f7aa;
    height: 350px; /* only for demonstration, should be removed */
    font-family: Impact;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
    height: 350px;
}


/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
</style>
</head>
<body>

<header>
  <h2>You Should Visit Hawaii!!!</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="#">Movies </a></li>
      <li><a href="https://www.kayak.com/horizon/sem/kpack/region/2996?lang=en&skipapp=true&gclid=CjwKCAjw14rbBRB3EiwAKeoG_4FuiqB_gbPLeGP8pAdG71suOAhooUW18KqrYieyWmApf66mdZEmBRoCtiMQAvD_BwE&gclsrc=-1&g_kw=hawaii+travel&aid=19429700941">Travel </a></li>
      <li><a href="https://www.hawaiimagazine.com/content/22-terrific-hawaii-travel-tips-first-time-travelers">Things to do </a></li>
     
    </ul>
  </nav>
  
  <article>
    <h1>Movies</h1>
    <ul>
        <li> 50 first dates  
      <li> Aloha 
      <li> Just Go With It 
      <li> Blue Crush 
      <li> Paradise, Hawaiian style
      <li> Aloha, Scooby Doo 
      <li> Lilo & Stitch </li> <br>
        
    <a href= "https://www.youtube.com/watch?v=H1SVxJZTgI4" >   <img 
          src= "http://t3.gstatic.com/images?q=tbn:ANd9GcRTAirQBdDJZ2STW7gpKFJLVv-4Z6sqht3sBNDqp98kQZ-RtH9x" 
            
      width = "70px" height = "103" 
      />
      <a href=
 "https://www.youtube.com/watch?v=O3mf_ewjc7s" >
      <img
        src= "https://upload.wikimedia.org/wikipedia/en/thumb/7/73/Aloha_poster.jpg/220px-Aloha_poster.jpg"
      
     width ="70px" height 
           
  "103"
      >/
               <a href=
 "https://www.youtube.com/watch?v=fpj7i2CPt8M" >
     <img 
        src= "https://m.media-amazon.com/images/M/MV5BMjE0MTk3MjE2Nl5BMl5BanBnXkFtZTcwMjE0ODA0NA@@._V1_UY268_CR10,0,182,268_AL_.jpg"
      width = "70px" height
       "103" />
                               <a href=
 "https://www.youtube.com/watch?v=-YBpoBzWW4g" >
      <img
        src="http://www.gstatic.com/tv/thumb/movieposters/30020/p30020_p_v8_ad.jpg"
           width = "70px"
           height = "103" />
      
           <a href= "https://www.youtube.com/watch?v=ZZUZpE4c9gA" > 
                                 <img
     
                                      src= "http://www.gstatic.com/tv/thumb/movieposters/4158/p4158_p_v8_ab.jpg"
           width = "70px"
           height = "103"
                     />     <a href= "https://www.youtube.com/watch?v=FB9PToBrnR0" > 
                                 
       <img
           src= "http://www.gstatic.com/tv/thumb/movieposters/8359745/p8359745_p_v8_aa.jpg"
            width = "70px"
            height = "103"
      
            />
                                 <a href= "https://www.youtube.com/watch?v=wAtaSKQ4-T0" > 
      <img
           src=
           "http://www.gstatic.com/tv/thumb/movieposters/29095/p29095_p_v8_ak.jpg"
           width = "70px"
           height = "103"
      
        
      
      
      
      
      
    </p>
    <p.</p>
  </article>
</section>



</body>
</html>