<!DOCTYPE html>

<html>
  <head> 
    <!-- <DOCTYPE!> -->
 <link rel="stylesheet" href="/css/homestyles.css">

<html>
<ul>
  <li class="navbar"><a href="default.asp">Home</a></li>
  <li class="navbar"><a href="/index">Quiz</a><li/>
  <li class="navbar"><a href="/newyork">New York</a></li>
  <li class="navbar"><a href="/europe">Greece</a></li>
  <li class="navbar"><a href="/hawaii">Hawaii</a></li>
  <li class="navbar"><a href="/california">California</a></li>
  

 
</ul>
  
  <head>
    <title>Between the Scene</title>
  </head>
  
  <body>
    
    <div class = background>
      <div class="transbox">
        <h1 id="name"> Between The Scenes</h1>
      </div>
    </div>
   
    <br>
    <br>
    <br>
        
    <h2 class = "intro">"Between the Scenes" was created to help indecisive travelers decide where to go next! Take the quiz and we will direct you to where we think you should spend your next vacation as well as awesome movies that was filmed in that destination! Come travel with us by taking the quiz in the navigation bar above! Already have a place to travel in mind? You can also the find movies in the navigation bar that correlate to exciting places around the world to travel.</h2>
    <h2 class = "close", align = "center"> HAPPY TRAVELING! </h2>
    <div>
    
   <b> </b>
    
<!--     paragraph tag -->
    <p> </p>
    
    <div>
      
    
<!--     image tag -->
    
      
     <img align="center" src= "https://media.timeout.com/images/104692494/image.jpg" alt="travel" height="500" width="1000">
      
      <div>
      
    <img align="center" src= "http://static2.uk.businessinsider.com/image/595386b573455c1f008b49a5/the-17-most-innovative-inspiring-and-inclusive-cities-in-europe.jpg" alt="photo1" height="500" width="1000">
      
        <div>
          
    <img align="center" src=  "https://www.taketours.com/images/slides/hawaiivacationpackages.jpg"  alt="photo2" height="500" width="1000">
      
        <div> 
          
    <img align="center" src=  "https://www.traveltexas.com/Assets/img/Page/Trip-Guides/21-texas-state-parks-palo-duro-canyon-lighthouse-rock-credittpwd.jpg"  alt="photo3" height="500" width="1000">
      
         <div>
           
      <img align="center" src= "https://d255me3ukr1mgj.cloudfront.net/images/general/mala1486486519471_aspR_1.715_w1475_h860_e.jpg" alt="photo4" height="500" width="1000">
          
           <div>
             
      <img align="center" src= "https://ytravelblog-nabbqugz.netdna-ssl.com/wp-content/uploads/2016/12/bucket-list-travel-destinations-2017.png"
          alt="photo5" height="500" width="1000">
             
  <div>
    
       <img align="center" src= "https://assets.vogue.com/photos/58914ca9b482c0ea0e4d753c/master/pass/05-most-googled-travel-destinations-of-2016.jpg" 
         alt="photo6" height="500" width="1000">
    
  
</html>