<!DOCTYPE html>
<html>
    <head>
        <title>Your movie destination quiz</title>
    </head>
    
    <body> 
            <h1>What is your travel destination based on these questions?</h1>
            
            <form method="POST" action="/results">
            
            <h2>What do you do in your free time?</h2>
            <input type="radio" name="Freetime" value="5">Shopping<br>
            <input type="radio" name="Freetime" value="10">Exploring<br>
            <input type="radio" name="Freetime" value="15">Relaxing<br>
            <input type="radio" name="Freetime" value="20">Eating<br>
            
            <h2>What are your travel concerns?</h2>
            <input type="radio" name="Concerns" value="5">Money<br>
            <input type="radio" name="Concerns" value="10">Saftey<br>
            <input type="radio" name="Concerns" value="15">Flying<br>
            <input type="radio" name="Concerns" value="20">Time<br>
            
            <h2>What do you enjoy doing on vacation?</h2>
            <input type="radio" name="Enjoy" value="5">Finding new outfits and accesories<br>
            <input type="radio" name="Enjoy" value="10">Discovering new places<br>
            <input type="radio" name="Enjoy" value="15">Going to a spa/resort<br>
            <input type="radio" name="Enjoy" value="20">Spending time with friends and family<br>
            
            <h2>What is your ideal lodging space?</h2>
            <input type="radio" name="Lodging" value="5">A fancy hotel<br>
            <input type="radio" name="Lodging" value="10">Breakfast in bed / cottage<br>
            <input type="radio" name="Lodging" value="15">Resort<br>
            <input type="radio" name="Lodging" value="20">Cabin/tenting<br>
            
            <h2>IDeal travel scenery?</h2>
            <input type="radio" name="Scenery" value="5">City<br>
            <input type="radio" name="Scenery" value="10">Artsy<br>
            <input type="radio" name="Scenery" value="22">Beach<br>
            <input type="radio" name="Scenery" value="30">Mountains / greenery<br>
            
            <h2>What kind of music do you like to listen to?</h2>
            <input type="radio" name="Music" value="2">Pop<br>
            <input type="radio" name="Music" value="15">Rock<br>
            <input type="radio" name="Music" value="22">Rege<br>
            <input type="radio" name="Music" value="30">Country<br>
            
            <h2>What food do you enjoy?</h2>
            <input type="radio" name="Food" value="2">Fancy<br>
            <input type="radio" name="Food" value="15">Tropical<br>
            <input type="radio" name="Food" value="22">Ethnic<br>
            <input type="radio" name="Food" value="30">Homemade<br>

             <br>
            <button type="submit">Check how well you know me!</button>
            </form>
            
      </body>
</html>
